{{> head }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Hulk</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus corporis error laudantium, enim atque cum dolore 
                totam ipsum repellat accusantium et laborum aspernatur eligendi 
                est sit ab ad incidunt. Dolore.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/hulk.jpg" class="img-thumbnail">
        </div>
    </div>

{{> footer }}